<head>
    <link rel="stylesheet" href="../styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="grid">
    <div>
      <h3>Title Test</h3>
      <img src="../images/testimg.jpg" alt="Test" />
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam et quos
        sequi corrupti incidunt aperiam eveniet consequatur error nulla animi,
        dolores quas quod ut expedita recusandae quaerat nesciunt ipsam
        temporibus.
      </p>
    </div>

    <div>
      <h3>Title Test</h3>
      <img src="../images/testimg.jpg" alt="Test" />
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam et quos
        sequi corrupti incidunt aperiam eveniet consequatur error nulla animi,
        dolores quas quod ut expedita recusandae quaerat nesciunt ipsam
        temporibus.
      </p>
    </div>

    <div>
      <h3>Title Test</h3>
      <img src="../images/testimg.jpg" alt="Test" />
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam et quos
        sequi corrupti incidunt aperiam eveniet consequatur error nulla animi,
        dolores quas quod ut expedita recusandae quaerat nesciunt ipsam
        temporibus.
      </p>
    </div>

    <div>
      <h3>Title Test</h3>
      <img src="../images/testimg.jpg" alt="Test" />
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam et quos
        sequi corrupti incidunt aperiam eveniet consequatur error nulla animi,
        dolores quas quod ut expedita recusandae quaerat nesciunt ipsam
        temporibus.
      </p>
    </div>
  </div>
</body>
