/* Author: Vincenzo Braghetto */

:root {
  --MAIN-COLOR: #cc9b0a;
  --MAIN-COLOR-LIGHT: #f4bc15;
  --SNOW: rgb(244, 244, 244);
  --LIGHT-GREEN: #9ccc0a;
  --DARK-BROWN: #584200;
  --PASSIVE-SHADOW: 0px 0px 3px 0px gainsboro;
  --ACTIVE-SHADOW: 0px 0px 2px 1px rgb(206, 206, 206);
  --MAIN-FONT-FAMILY: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  --DARK-FONT-COLOR: rgb(24, 24, 24);
  --MAIN-BORDER-RADIUS: 0.5em;
  --NEGATIVE-COLOR: rgb(205, 0, 0);
  --NEGATIVE-COLOR-LIGHT: rgb(255, 204, 204);
  --POSITIVE-COLOR: green;
  --POSITIVE-COLOR-LIGHT: rgb(190, 255, 190);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  background-color: var(--MAIN-COLOR);
  min-height: 100vh;
  font-family: var(--MAIN-FONT-FAMILY);
  box-shadow: 0px 0px 6px 1px var(--SNOW) inset;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2em 3.5em;
  border-radius: var(--MAIN-BORDER-RADIUS);
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

hr {
  color: var(--MAIN-COLOR-LIGHT);
  border-style: solid;
}

input, label, button, textarea {
  font-size: inherit;
  font-family: inherit;
}

button {
  border-radius: 100vw;
  --BUTTON-COLOR: var(--LIGHT-GREEN);
  background-color: var(--BUTTON-COLOR);
  transition: all 0.2s ease;
  font-weight: bold;
  box-shadow: var(--PASSIVE-SHADOW);
  font-size: 1.1rem;
  padding: 0.5em;
  border: none;
}

button:hover {background-color: color-mix(in srgb, var(--BUTTON-COLOR), black 8%);}
button:active {
  transform: scale(0.95);
  box-shadow: var(--ACTIVE-SHADOW);
}

input, textarea {
  border: none;
  --INPUT-COLOR: var(--SNOW);
  border-top-right-radius: 0.2em;
  outline: 0.5px solid transparent;
  border-bottom-right-radius: 0.2em;
  background-color: var(--INPUT-COLOR);
  border-left: 0.25em solid var(--MAIN-COLOR-LIGHT);
  transition: outline 0.4s;
  padding: 0.65em;
}

textarea {
  min-height: 20vh;
  max-width: 100%;
}

input:focus,
textarea:focus 
{outline: 0.5px solid var(--MAIN-COLOR-LIGHT);}

input::placeholder {
  font-size: 0.8em;
  font-style: italic;
  font-weight: normal;
  opacity: 0.7;
}

/* Generic form partial */

form.container {
  width: 500px;
  max-width: 90%;
  min-width: 35%;
  max-height: 100vh;
  overflow-y: auto;
  border-radius: inherit;
}

form.container label,
form.container input,
form.container button {
  width: 100%;
}

form.container label {
  margin-bottom: 0.35em;
  font-weight: bold;
  font-size: 1.1em;
}

form.container h1 {
  text-align: center;
  text-shadow: var(--MAIN-ANTI-ALIASING)
}

form.container input {margin-bottom: 1.5em;}
form.container hr {margin: 2em 3.5em;}
form.container button {margin-top: 1.5em;}

.small-spacing * {
  margin-top: 1.25em;
}

/* Navbar partial */

.navbar {
  display: flex;
  --NAVBAR-COLOR: var(--MAIN-COLOR-LIGHT);
  background-color: var(--NAVBAR-COLOR);
  box-shadow: 0px 6px 32px 8px var(--SNOW) inset;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 10%;
  border-radius: 0.25em;
}

.navbar a:first-child {width: 30%;}

.navbar a {
  text-decoration: none;
  font-size: 1.1rem;
  --NAVBAR-TEXT-COLOR: var(--DARK-BROWN);
  color: var(--NAVBAR-TEXT-COLOR);
  text-shadow: 0px 0px 1px var(--NAVBAR-TEXT-COLOR);
  transition: color 0.2s ease-in-out;
}
 
.navbar a:hover {
  opacity: 0.7;
}

/* Grid partial */

.grid {
  display: grid;
  margin: 1em;
  width: auto;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1.25em;
}

.grid > div {
  background-color: var(--SNOW);
  border-radius: var(--MAIN-BORDER-RADIUS);
  text-align: center;
  padding: 1em;
  box-shadow: 0px 0px 1.5px 0px gainsboro;
}

.grid img {
  width: 100%;
  border-radius: inherit;
  margin: 1em auto 1.75em auto;
  box-shadow: 0px 0px 1.5px 0.5px black;
}

.grid p {text-align: left;}

/* Table partial */

table {
  width: auto;
  text-align: center;
  --TABLE-COLOR: var(--SNOW);
  background-color: var(--TABLE-COLOR);
  border-radius: var(--MAIN-BORDER-RADIUS);
  box-shadow: 0px 0px 1.5px 0px gainsboro;
  border-collapse: collapse;
  margin: auto;
}

th {background-color: color-mix(in srgb, var(--TABLE-COLOR), var(--MAIN-COLOR) 40%);}

th, td {
  padding: 1em;
}

td {box-shadow: 0px 0px 2px 0.5px var(--MAIN-COLOR);}

tr:first-child th:first-child {border-top-left-radius: var(--MAIN-BORDER-RADIUS);}
tr:first-child th:last-child {border-top-right-radius: var(--MAIN-BORDER-RADIUS);}
tr:last-child td:first-child {border-bottom-left-radius: var(--MAIN-BORDER-RADIUS);}
tr:last-child td:last-child {border-bottom-right-radius: var(--MAIN-BORDER-RADIUS);}

.right-icon {
  font-size: inherit;
  width: 1em;
  height: 1em;
  margin: 0em 0em 0em 1em;
}

.left-icon {
  font-size: inherit;
  width: 1em;
  height: 1em;
  margin: 0em 1em 0em 0em;
}

.error-container {
  display: inline-block;
  border: 1px solid var(--NEGATIVE-COLOR);
  background-color:var(--NEGATIVE-COLOR-LIGHT);
  color: var(--NEGATIVE-COLOR);
  box-shadow: 0px 0px 3px 0px var(--NEGATIVE-COLOR);
  font-weight: bold;
  padding: 1.33em;
  margin: 1em;
  border-radius: var(--MAIN-BORDER-RADIUS);
}

.success-container {
  display: inline-block;
  border: 1px solid var(--POSITIVE-COLOR);
  background-color: var(--POSITIVE-COLOR-LIGHT);
  box-shadow: 0px 0px 3px 0px var(--POSITIVE-COLOR);
  color: var(--POSITIVE-COLOR);
  font-weight: bold;
  padding: 1.33em;
  margin: 1em;
  border-radius: var(--MAIN-BORDER-RADIUS);
}
